@use '../../../styles/variables' as vars;

.about {
    display: flex;
    margin-top: 6em;
    justify-content: center;
    gap: 6em;
    align-items: center;

    div:nth-child(1) {
        width: 50dvh;
        display: flex;
        box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
        flex-grow: 0;
    }

    div:nth-child(2) {
        flex: 0 1 66ch;
        color: vars.$white;
        display: flex;
        flex-direction: column;
        gap: 1.25em;
    }
}
