@use '../../../styles/variables' as vars;

.about {
    display: flex;
    padding-inline: clamp(0em, 5dvw, 6em);
    justify-content: space-between;

    .info {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        gap: 12em;
        margin-top: 11em;

        @media (max-width: 1140px) {
            .info {
                flex: 1 1 100%;
                align-items: center;
            }
        }

        h1 {
            display: inline;
            position: relative;
            line-height: 1.6;
            font-weight: 600;
            white-space: pre;

            @media (max-width: 430px) {
                font-size: 2.3em;
            }

            @media (max-width: 360px) {
                font-size: 2em;
            }

            span {
                position: absolute;
                bottom: 0.19em;
                right: -0.2em;
                display: inline-block;
                width: 0.2em;
                aspect-ratio: 1/1;
                border-radius: 50%;
                overflow: hidden;
                background: vars.$white;
            }

            p {
                font-size: 1.2em;
                font-weight: 300;
                line-height: 1.5;

                @media (max-width: 460px) {
                    max-width: 36ch;
                }

                @media (max-width: 360px) {
                    max-width: 30ch;
                }
            }
        }

        .wrapper-bottom {
            display: flex;
            font-size: 0.8em;
            opacity: 0.8;
            gap: 4em;

            @media (max-width: 500px) {
                flex-direction: column;
            }

            p {
                padding-left: 1em;
                border-left: 0.04em solid rgba(255, 255, 255, 0.626);
                width: 30ch;

                @media (max-width: 500px) {
                    width: 100%;
                }
            }
        }
    }

    .personal-photo {
        flex: 1 1 50%;
        display: flex;
        position: relative;
        margin-top: 3em;

        @media (max-width: 1400px) {
            margin-top: 4em;
        }

        @media (max-width: 1350px) {
            margin-top: 5em;
        }

        @media (max-width: 1300px) {
            margin-top: 6em;
        }

        @media (max-width: 1250px) {
            margin-top: 7em;
        }

        @media (max-width: 1200px) {
            margin-top: 8em;
        }

        @media (max-width: 1150px) {
            margin-top: 9em;
        }

        @media (max-width: 1100px) {
            margin-top: 10em;
        }

        @media (max-width: 1050px) {
            margin-top: 11em;
        }

        @media (max-width: 1000px) {
            margin-top: 12em;
        }
        @media (max-width: 950px) {
            margin-top: 13em;
        }

        @media (max-width: 900px) {
            margin-top: 14em;
        }

        @media (max-width: 690px) {
            margin-top: 16em;
            right: 0em;
            flex: 0 0 0;
        }

        @media (max-width: 640px) {
            margin-top: 16em;
            right: 0em;
            flex: 0 0 0;
        }

        @media (max-width: 550px) {
            margin-top: 17em;
            right: 0em;
            flex: 0 0 0;
        }

        @media (max-width: 490px) {
            margin-top: 18em;
            flex: 0 0 0;
        }

        @media (max-width: 400px) {
            margin-top: 19em;
        }

        &::after {
            content: '';
            width: 0.04em;
            height: 80%;
            background: rgba(255, 255, 255, 0.626);
            position: absolute;
            top: 0;
            left: 7em;

            @media (max-width: 975px) {
                left: 6em;
            }

            @media (max-width: 950px) {
                left: 5em;
            }

            @media (max-width: 910px) {
                left: 4em;
            }

            @media (max-width: 885px) {
                left: 3em;
            }

            @media (max-width: 860px) {
                display: none;
            }
        }

        &::before {
            content: '';
            width: 70%;
            height: 0.04em;
            background: rgba(255, 255, 255, 0.626);
            position: absolute;
            bottom: 0;
            right: 0;

            @media (max-width: 860px) {
                display: none;
            }
        }

        .circle {
            width: 19dvw;
            border: 0.08em solid rgba(255, 255, 255, 0.251);
            overflow: hidden;
            border-radius: 50%;
            aspect-ratio: 1/1;
            overflow: hidden;
            z-index: -1;
            position: absolute;
            top: 1dvw;
            right: 1dvw;

            @media (max-width: 470px) {
                width: 21dvw;
            }

            @media (max-width: 400px) {
                width: 22dvw;
            }

            @media (max-width: 390px) {
                width: 24dvw;
            }

            @media (max-width: 340px) {
                width: 26dvw;
            }
        }

        & .circle:nth-of-type(1) {
            border-color: rgba(255, 255, 255, 0.172);
        }

        & .circle:nth-of-type(2) {
            top: 2dvw;
            right: 2dvw;
            border-color: rgba(255, 255, 255, 0.236);
        }

        & .circle:nth-of-type(3) {
            top: 3dvw;
            right: 3dvw;
            border-color: rgba(255, 255, 255, 0.391);
        }

        & .circle:nth-of-type(4) {
            top: 4dvw;
            right: 4dvw;
            border-color: rgba(255, 255, 255, 0.479);
        }

        & .circle:nth-of-type(5) {
            top: 5dvw;
            right: 5dvw;
            border-color: rgba(255, 255, 255, 0.621);
        }

        & .circle:nth-of-type(6) {
            top: 6dvw;
            right: 6dvw;
            border-color: rgba(255, 255, 255, 0.681);
        }

        .thumbnail {
            background: vars.$background;
            width: 19dvw;
            display: flex;
            box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.9);
            outline: 0.08em solid white;
            overflow: hidden;
            border-radius: 50%;
            aspect-ratio: 1/1;
            overflow: hidden;

            @media (max-width: 470px) {
                width: 21dvw;
            }

            @media (max-width: 400px) {
                width: 22dvw;
            }

            @media (max-width: 390px) {
                width: 24dvw;
            }

            @media (max-width: 340px) {
                width: 26dvw;
            }

            position: absolute;
            top: 6.75dvw;
            right: 7.25dvw;

            img {
                scale: 1.2;
                position: relative;
                top: 1.9em;

                @media (max-width: 910px) {
                    top: 1.7em;
                }

                @media (max-width: 780px) {
                    top: 1.5em;
                }

                @media (max-width: 580px) {
                    top: 1.3em;
                }

                @media (max-width: 500px) {
                    top: 1.2em;
                }
            }
        }
    }
}
