$background: #212121;

$white: #ffffff;
$lightest-grey: #f9f9f9;
$light-grey: #f5f5f5;
$medium-grey: #d6d6d6;
$dark-grey: #6b6b6b;
$black: #000000;
$green: #226C3B;
$red: #d82325;
$pink: #e48cb0;
$blue: #0967c2;
$gold: #efbf04;

:root {
    --layout-inline-padding: 3em;
    --layout-inline-padding-desktop: 12em;
}

@media (max-width: 1230px) {
    :root {
        --layout-inline-padding: 1em;
        --layout-inline-padding-desktop: 3em;
    }
}
