@use '../styles/variables' as vars;

form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .field {
        display: flex;
        flex-direction: column;
        position: relative;
        flex-grow: 1;

        input {
            border-color: vars.$medium-grey;

            &.valid {
                border-color: vars.$green !important;

                ~ label {
                    color: vars.$green !important;
                }
            }

            &.invalid {
                border-color: vars.$red;

                ~ label {
                    color: vars.$red;
                }
            }

            &:focus:not(.valid) {
                border-color: vars.$blue;

                ~ label {
                    color: vars.$blue;
                }
            }

            &:not(:placeholder-shown) {
                ~ label {
                    top: 0.3em;
                    font-size: 0.7em;
                }
            }
        }

        label {
            position: absolute;
            top: 1.25em;
            left: 1rem;
            transition:
                color 0.3s ease-in-out,
                top 0.3s ease-in-out;
        }

        &:has(input:focus) {
            input.valid ~ label {
                color: vars.$green !important;
            }

            input:focus:not(.valid) ~ label,
            input:not(:placeholder-shown):not(.valid) ~ label {
                color: vars.$blue;
            }

            span.error {
                color: vars.$blue;
            }
        }
    }

    span.error {
        color: vars.$red;
        font-size: 0.95em;
        margin-top: 0.25em;
        margin-left: 0.25em;
    }
}

input.valid {
    border-color: vars.$green !important;

    ~ label {
        color: vars.$green !important;
    }
}

input,
select,
textarea {
    outline: none;
    border: 0.08em solid vars.$dark-grey;
    border-radius: 0.1em;
    transition: border-color 0.3s ease-in-out;
    overflow: hidden;
    padding: 0.75em;
    font-size: 1.1em;
}

input {
    padding-top: 1em;

    &::placeholder {
        color: transparent;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
        top: 0.3em;
        font-size: 0.7em;
    }
}
