* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after,
button,
blockquote {
    box-sizing: inherit;
    font: inherit;
}

li,
a,
img,
figure,
details,
details > summary {
    display: block;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

button {
    all: unset;
    cursor: pointer;

    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 1.25em;
    border-radius: 0.2em;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

svg {
    width: 1.6em;
    height: 1.6em;
}

a {
    color: inherit;
}

button:disabled {
    cursor: auto !important;
}
