@use '../styles/variables' as vars;


::-webkit-scrollbar {
    width: 0.7em;
    border-bottom-right-radius: 0.5em;
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
    background: vars.$white;
    border-radius: 100vw;
    border: 0.08em solid vars.$dark-grey;
}
