@use '../styles/variables' as vars;
@import url('https://fonts.cdnfonts.com/css/tisa-sans-pro');

html {
    font: 15px / 1.6 'Overpass', sans-serif;
    letter-spacing: 0.08em;
    color: vars.$white;
}

@media (min-width: 1900px) {
    html {
        font-size: 18px;
    }
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 1em;
    opacity: 0.9;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 0.8em;
}

h4 {
    font-size: 1.3em;
    margin-bottom: 0.6em;
}

h5 {
    font-size: 1.1em;
    margin-bottom: 0.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

p {
    margin: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    padding-left: 2ch;
}
