$white: #ffffff;
$black: #000000;
$darkest-grey: #383838;
$dark-grey: #bcbcbc;
$light-grey: #d6d6d6;
$green: #226c3b;
$red: #ff1133;
$blue: #0967c2;

:root {
    --layout-inline-padding: 3em;
    --layout-inline-padding-desktop: 12em;
}

@media (max-width: 1230px) {
    :root {
        --layout-inline-padding: 1em;
        --layout-inline-padding-desktop: 3em;
    }
}
