.matrix-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    position: absolute;
}

.matrix-grid {
    display: grid;
    grid-template-columns: repeat(8, 0.15em);
    gap: 0.75em;
    padding: 0.75em;
}

.matrix-circle {
    width: 0.15em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.626);
}
