.footer {
    padding-block: 1em;
    margin-top: 4em;
    border-top: 0.03em solid rgba(255, 255, 255, 0.824);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        color: rgba(255, 255, 255, 0.824);
        font-size: 0.9em;
    }
}