@use '../../../styles/variables' as vars;

.project {
    display: flex;
    flex-direction: column;
    position: relative;

    > p {
        align-self: flex-end;
        max-width: 58ch;
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    .responsive {
        display: flex;
        justify-content: flex-end;
        gap: 1em;

        & > article:nth-child(1) {
            flex: 0 0 5dvw;
        }

        & > article:nth-child(2) {
            flex: 0 0 10dvw;
        }
    }

    button {
        width: 14em;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    button:nth-of-type(1) {
        background: vars.$black;
        color: vars.$white;
        width: unset;
        flex: 1 0 100%;
    }

    button:nth-of-type(2) {
        background: vars.$white;
        color: vars.$black;
        width: unset;
        flex: 1 0 100%;
    }

    a {
        text-decoration: none;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5em;

        @media (max-width: 800px) {
            flex-direction: column;
        }

        .relative-container {
            flex: 0 1 25%;
            position: relative;

            article {
                position: absolute;
            }

            article:nth-child(1) {
                top: -5em;
                left: 0;
            }

            article:nth-child(2) {
                left: 0;
                top: -3em;
                width: 8dvw;
                z-index: 3;
            }
        }

        & > div:nth-child(1) {
            flex: 0 1 52%;
        }

        .info-wrapper {
            flex: 0 1 42%;
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            margin-top: 2em;
        }

        .buttons-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.75em;
        }
    }
}
